<div>
    <h2 class="sub-header">Loggly API Facet Info</h2>
        <label>Check Values for <input ng-keyup="facet_search()"  ng-model="facet_to_filter"></label>
<br>
</div>


<div class="width-fix">
    <h2 class="sub-header">Top Values</h2>
    <ui ng-repeat="f in facet_values">
       <li>
       <span class="badge">{{ f.count }}</span>
       {{ f.term }}
       </li>
    </ui>
</div>

<div class="width-fix">
    <h2 class="sub-header">List of Facets</h2>
    <ui ng-repeat="f in facets">
       <li class="list-group-item col-md-3">{{ f.name }} </li>
    </ui>
</div>

