    <div class="jumbotron">
      <div class="container">
        <h1>Angular Test Site</h1>
        <p>Hector's playground for learning/testing Angular </p>
        <a class="btn btn-primary btn-sm" href="#/" role="button">Home</a>
        <a class="btn btn-primary btn-sm" href="#/about" role="button">About</a>
        <a class="btn btn-primary btn-sm" href="#/pin" role="button">Pins-Embedded</a>
      </div>
    </div>
<div>
    <h3>Home</h3>
    <p> This is the best Angular sitew in the wooooooorld!</p>
    <ui>
        <li ng-repeat="post in blogposts">{{ post }}</li>
    </ui>
</div>