{% extends "layout.html" %}

      {% block content %}
          <br><b>Change View Here</b>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/search2#">Main Dashboard <span class="sr-only">(current)</span></a></li>
            <li><a href="/search3">Full Events</a></li>
            <li><a href="#">View3</a></li>

          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{{ default }}'s Dashboard</h1>

          <!-- Circles at the Top -->
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200?text={{ size }}&theme=vine&size=50">
              <h4>Events Returned</h4>
              <span class="text-muted">How many you asked for</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200?theme=sky&text={{ events_num }}&size=50" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Total Events</h4>
              <span class="text-muted">Total during this period</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200?text={{ facets_num }}&theme=social&size=50" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Unique Fields</h4>
              <span class="text-muted">Total # fields in results</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200?text={{ events_MB }}MB&theme=industrial&size=50" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Events Size</h4>
              <span class="text-muted">Payload size of all {{ events_num }} events</span>
            </div>
          </div>

    <div>
        <h2 class="sub-header">Search Results Table</h2>

            <div class="container">

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Timestamp</th>
                  <th>Tags</th>
                  <th>LogTypes</th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody>
            {% for item in results_JSON.events %}
                <tr>
                  <td>{{ item.timestamp }}</td>
                  <td>
                    {% for tag in item.tags|sort %}
                        {{ tag }}
                    {% endfor %}
                  </td>
                  <td>
                    {% for logtype in item.logtypes|sort %}
                        {{ logtype }}
                    {% endfor %}
                  </td>
                  <td>{{ item.logmsg | capitalize}}</td>
                </tr>
            {% endfor %}
              </tbody>
            </table>
          </div>
    <div>
        <h2 class="sub-header">List of Facets</h2>
        {%  for field in facets_JSON.fields|sort %}
           <li class="list-group-item col-md-3">{{ field.name }}</li>
        {% endfor %}
</div>

        </div>

        </div>

      </div>
      {% endblock %} </body>
</html>
