{% extends "layout.html" %}

      {% block content %}
          <br><b>Change View Here</b>
          <ul class="nav nav-sidebar">
            <li ><a href="/search2/Hector">Main Dashboard <span class="sr-only">(current)</span></a></li>
            <li class="active"> <a href="/search3/Hector">Full Events</a></li>
            <li><a href="#">View3</a></li>

          </ul>
        </div>



        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2 class="sub-header">Events_TXT from Jinja</h2>
      <pre>{{ events_TXT }} </pre>
      {% endblock %} </body>
</html>
